# For OCLC Worldcat Metadata API support
bookops-worldcat==0.5.0
# For Discogs
python3-discogs-client==2.7
# For Musicbrainz
musicbrainzngs==0.7.1 
# For MARC records
pymarc==5.1.2 
# For title (string) comparison
strsimpy==0.2.1
